body{
    background-color:  rgba(188, 107, 255, 0.02);
    margin: auto;
}

#canvas{
    width: 45%;
    height: 90%;


}
#main{
    top:40%;
    margin-bottom: 0;
    height: 100%;
    display: -webkit-flex;
    -webkit-align-content: center;
    display: flex;
    align-items: center;
}
table{
    margin: 0 auto auto;
    border-collapse: collapse;
}

#boardGame{
    width: 90%;
    height: 100%;
    background-color: moccasin;
    box-shadow:
            0 0 0 10px hsl(0, 0%, 80%),
            0 0 0 15px hsl(0, 0%, 90%);

}
#boardGame tr {
    width: 100%;
    height: 10%;
}
#boardGame tr td{
    width: 10%;
    border: 1px solid coral;
    border-radius: 50%;
}
.wrapper{
    font-weight: lighter;
    font-size: 20px;
    font-family: "", cursive;
    padding: 5px;
    box-shadow:
            0 0 0 20px hsl(0, 0%, 70%),
            0 0 0 25px hsl(0, 0%, 80%),
            0 0 0 30px hsl(0, 0%, 90%);
}
h3{
    text-align: center;
    color: blue;
}

#warrior2Div,#warrior1Div,#canvas{
    vertical-align:middle;
    display: inline-block;
}
#warrior1Div{
    background: aqua;
    height: 20%;
    width: 50%;
    margin-bottom: 30%;
    padding: 1px;
    box-shadow:
            0 0 0 10px hsl(0, 0%, 80%),
            0 0 0 15px hsl(0, 0%, 90%);

}
#warrior2Div{
    background: coral;
    height: 20%;
    width: 50%;
    padding: 1px;
    box-shadow:
            0 0 0 10px hsl(0, 0%, 80%),
            0 0 0 15px hsl(0, 0%, 90%);

}

.inaccessible{
    background: url('../img/stone.png') no-repeat 0 0/100% 100%;
}
.sword{
    background: url('../img/sword.png') no-repeat 0 0/100% 100%;
}
.star{
    background: url('../img/star.png') no-repeat 0 0/100% 100%;
}
.star2{
    background: url('../img/star2.png') no-repeat 0 0/100% 100%;
}
.knife{
    background: url('../img/knife.png') no-repeat 0 0/100% 100%;
}

label{
    color: black;
    font-weight: lighter;
    padding: 5px;

}
.permission {

    -moz-box:    inset 0 0 5px darkgreen;
    -webkit-box: inset 0 0 5px darkgreen;
    box-shadow:  inset 0 0 5px darkgreen;

}
.on{
    border: 15px solid lawngreen;
}
.off{
    border: 15px solid red;
}
.swal-modal {
    background-color: #F0E1A1;
    border: 3px solid white;
}
.swal-overlay {
    background-color: rgba(43, 165, 137, 0.45);
}
.swal-title {
    font-size: 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin: 0px 0px 28px;
}
.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
}
.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #eb7e0d;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.9);
}
